<%- include("partials/header") %>
    
    <div id="mainjumbotron" class="jumbotron-fluid">
    <div class="container text-center">
    <h1 id="brand">Horticulture</h1>
    </div>
    </div>
  
    <div class="container">
        <p  style="color: grey;">Horticulture, the branch of plant agriculture dealing with garden crops, generally fruits, vegetables, and ornamental plants. The word is derived from the Latin hortus, “garden,” and colere, “to cultivate.” As a general term, it covers all forms of garden management, but in ordinary use it refers to intensive commercial production. In terms of scale, horticulture falls between domestic gardening and field agriculture, though all forms of cultivation naturally have close links.
        </p>
        <h3 id="h3" style="color: grey;">Our aim</h3>
        <hr>
        <p style="color: grey;">This is a platform where you get the information about various crops at a go.These rates are updated every week and the current price info is displayed to you.
            We also help you to get info about how to establish a nursery of your own in our management section. Apart from this you get latest news about agriculture here.
            A seperate section for posting query has been provided if you want along with the list of contacts that help you with your profession.
        </p>
        <h3 id="h3" style="color: grey;">CROPS</h3>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 Main">
                    <img src="https://gardenseedsmarket.com/images/detailed/35/pomidor-promyk.jpg" id="img-1" class="card image-top" style="height: 180px;">
                    <div class="card-img-overlay">
                    <div class="card-body">
                        <div class="card-title mb-5">VEGETABLES</div>
                        <div class="card-text">
                            <a href="/market" id="button" class="btn btn-primary btn-sm" type="button">View</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 Main">
                <img src="https://tse4.mm.bing.net/th?id=OIP.Wx8llv970Vh111ub6tZ6pQHaEK&pid=Api&P=0&w=277&h=156" class="card image-top" style="height: 180px;">
                    <div class="card-img-overlay">
                    <div class="card-body">
                        <div class="card-title mb-5">FRUITS</div>
                        <div class="card-text">
                        <a href="/market" id="button" class="btn btn-primary btn-sm" type="button">View</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 Main">
                <img src="https://images.medicaldaily.com/sites/medicaldaily.com/files/2015/06/10/nuts.jpg" class="card image-top" style="height: 180px;">
                    <div class="card-img-overlay">
                    <div class="card-body">
                        <div class="card-title mb-5">NUTS</div>
                        <div class="card-text">
                        <a href="/market" id="button" class="btn btn-primary btn-sm" type="button">View</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card Main">
                <img src="https://www.blog.drvikram.com/wp-content/uploads/2015/07/natural-remedies-for-allergy.jpg" class="card image-top" style="height: 180px;">
                    <div class="card-img-overlay">
                    <div class="card-body">
                        <div class="card-title mb-5">SPICES</div>
                        <div class="card-text">
                        <a href="/market" id="button" class="btn btn-primary btn-sm" type="button">View</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card Main">
                <img src="https://cdn.shopify.com/s/files/1/1165/2796/articles/aloe-vera-header_1024x1024.jpg?v=1493709182" class="card image-top" style="height: 180px;">
                    <div class="card-img-overlay">
                    <div class="card-body">
                        <div class="card-title mb-5">MEDICINAL PLANTS</div>
                        <div class="card-text">
                        <a href="/market" id="button" class="btn btn-primary btn-sm" type="button">View</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="second" class="jumbotron bg-dark text-light">
        <table>
            <tr>
                <td></td>
                <td class="firstrow"><p>Avocado prices lowest in almost three years as fruit, vegetable prices fall</p></td>
            </tr>
            <tr>
                <td></td>
                <td class="firstrow"><p>Hike in Prices of Fruits and Vegetables in Bahrain</p></td>
            </tr>
            <tr>
                <td><button class="btn btn-outline-light text-light">News</button></td>
                <td class="firstrow"><p>Strawberry's prices dropped since last month</p></td>
            </tr>
            <tr>
                <td></td>
                <td class="firstrow"><p>Increment in prices of dry fruits</p></td>
            </tr>
            <tr>
                <td></td>
                <td class="firstrow"><p>This summer is suitable for growing specific crops with good weather condition</p></td>
            </tr>
        </table>
      </div>
    <div class="container mb-5">
    <h5><a class="heading" href="https://nrcgrapes.icar.gov.in/">National Research Centre for Grapes</a></h5>
    <hr>
    <p>The National Research Centre for Grapes has the responsibility of undertaking programmes involving basic and strategic research to resolve major biotic and a-biotic constraint affecting the grapes production. Details related to research programmes, pest management, export and import of products at global level etc. are given. Information pertaining to weather forecast is provided.</p>
    <h5><a class="heading" href="http://db.and.nic.in/nicobars/Depts/Agriculture.php">Department of Agriculture ,Andman & Nicobar</a></h5>
    <hr>
    <p>Detailed information is provided about the Department of Agriculture, Andaman & Nicobar. Information about horticulture, soil conservation and Rural Knowledge Center etc.</p>
    <h5><a class="heading" href="https://karnataka.gov.in/horticulture/Pages/home.aspx">Horticulture Deapartment of Himachal Pradesh</a></h5>
    <hr>
    <p>The State Department of Horticulture functions with the objective of building a prosperous state through scientific development by harnessing the natural resources. Users can find information on horticulture monthly schedule, fruit preservation, floriculture monthly work and related links to other websites</p>
    <h5><a class="heading" href="http://www.hpagrisnet.gov.in/hpagris/Horticulture/Default.aspx?SiteID=5&PageId=1033">Website of Horticulture Deapartment of Karnataka</a></h5>
    <hr>
    <p>The Department of Horticulture of Karnataka is responsible for the overall development of Horticulture in the state. Information on horticulture schemes, services, nurseries, area, production, horticulture based industries, etc. is provided. Links to the horticulture software are also given.</p>
    <h5><a class="heading" href="https://hortnet.gov.in/Login-mah.aspx">National Horticulture Mission of Maharashtra</a></h5>
    <hr>
    <p>The centrally sponsored scheme of National Horticulture Mission (NHM) is being implemented in all states and Union Territories other than the North Eastern states, Himachal Pradesh, Jammu and Kashmir and Uttarakhand to promote holistic growth of the horticulture sector. Know about medicinal plant schemes, action plans, Acts and rules, government approved projects, etc. Users can check project...</p>
    
        <div class="row">
            <div class="col-md-2">
              <img id="circle" src="https://tse1.mm.bing.net/th?id=OIP.e9qnrTsgarFR6crCiz-zpgHaE7&pid=Api&P=0&w=237&h=159" alt="ME">
            </div>
            <div class="col-md-6">
                <p id="para"><em>Developer</em></p>
            </div>
        </div>
    </div>
        <div id="footer" class="footer">
            <div class="container pt-3 pb-3">
                <a href="/inquiry">Inquiry</a><br><br>
                <a href="/market">Market</a><br><br>
                <a href="/inquiry">Contacts</a><br><br>
                <a href="/management">Management</a>
        </div>
        </div>

<%- include("partials/footer") %>
  