<%- include("partials/header") %>

      <div id="mjt" class="jumbotron">
        <div class="container">
        <h2 id="heading">Nursery Techniques</h2>
    </div>
    </div>
    <div class="container">
        <p>There has been an increasing demand for horticultural crops more particularly fruit and ornamental ones in both urban and rural areas of India. With this, the demand for good quality planting materials has gone up and hence the nursery business has developed rapidly in the recent years in our country. Nursery product is no longer restricted to orchards or large parks and gardens. It has entered into high rise buildings, offices, factories, business houses, hospitals, hotels, backyards, roadsides in cities, roof tops, etc. for decoration purpose. Heavy demand is observed during festive seasons and seasons of fairs and melas. Ornamental nursery business has, therefore, come up in a large scale in areas near city and towns.
        </p>
        <h3><strong>Establishment of nursery</strong></h3>
        <hr>
        <p>Nursery is developed gradually. The mother plants planted for vegetative and seed propagation and seed propagated plants such as seasonal flower seedlings are raised for sale simultaneously. Important factors considered for establishing a nursery are agro-climatic conditions, soil types, soil pH, location, area, irrigation facilities, communication, market demand, availability of germplasm or mother plants, skilled persons, etc.</p>
        <p><strong>Selection of site:</strong> The site selected for raising a nursery should preferably be located near marketing centres for the convenience of transportation of the products with minimum or no damage. The site should be convenient enough for transportation of input materials also. It is important to have or develop a perennial source of water inside the nursery. If need arises, wind breaks of tall plants like eucalyptus, aonla, seedling mango, etc. may be planted to provide necessary shade and protection.</p>
        <p><strong>Product choice:</strong>The product choice will primarily depend on the market demand in nearby areas. For wider market coverage, the choice may be dependent on market studies in the desired areas. Varieties of various ornamental plants like shade loving foliage plants, flowering plants, creepers, plants suitable for parks, gardens and roadside plantations, offices, business houses, hospitals, residential buildings, etc. may be propagated in the nursery. Planting materials such as seedlings of flowers, bulbs, corms, etc. may also be produced.</p>
        <h3>Methods of propagation</h3><hr>
           <p>Plants may be raised from seeds or by vegetative propagation. Some important aspects of propagation are summarized below along with examples of fruit crops:</p>
        <ol>
        <li><p><strong>Raising from seeds:</strong>Germination from seeds may not be 100% even if the seeds are sown in perfect conditions. The factors that control the germination are age, stage of maturity and viability of seeds, water, free supply of oxygen and the heat or temperature. Some seeds do not germinate easily for variety of reasons such as the dormancy, rest period and presence of hard seed coat. Seeds with hard coats (e.g. palm, cannes, etc.) require some kind of external treatment for germination. Cracking of the coats by mechanical means, abrasion, soaking in water or acid and stratification are some methods commonly applied. Before sowing on a large scale, it is worthwhile to test the viability of the seeds. Eg.: Acid lime, amla, mandarin orange, annona, durian, litchi, mangosteen, West Indian cherry, passion fruit, bilimbi, carambola, karonda, loquat, phalsa etc.</p></li>
        <li><p><strong>Vegetative Propagation:</strong>Safe methods of vegetative propagation such as cutting, layering, division, separation, budding and grafting are adopted for multiplication of ornamental plants.</p></li>
        <ul>
            <li><strong>Cutting:</strong> Plant parts that are normally used for this purpose are stems, roots, leaves and modified stems such as tubers, corms and rhizomes, runners and bulbs. This method is very popular, particularly because it is the cheapest and most convenient one. However, in case of annuals, biennials and some perennials, methods such as seedage, layering and grafting are easier and more economical. Eg.: Grapes, pomegranate, pear, West Indian cherry, passion fruit, loquat, phalsa, fig, kiwi, bread fruit etc.</li>
            <li><strong>Layering:</strong> The method of inducing roots in a stem which is still attached to the plant and then detaching it after the root is formed for transplanting is called a layering or layerage. Mostly creepers and trees are raised by this method. Some herbaceous plants such as carnation, chrysanthemun, etc. can be raised by layering. Eg.: Guava, pomegranate, lemon, West Indian cherry, litchi, karonda, phalsa, rambuton, bread fruit etc.</li>
        </ul>
        </ol>
    </div>
    <div id="footer" class="footer">
        <div class="container pt-3 pb-3">
            <a href="/inquiry">Inquiry</a><br><br>
            <a href="/market">Market</a><br><br>
            <a href="/inquiry">Contacts</a><br><br>
            <a href="/management">Management</a>
    </div>
    </div>
<%- include("partials/footer") %>
   