<%- include("partials/header") %>
  <div id="back">
        <div class="container">
        <h1 class="display-1" style="color: white;font-weight: 400;text-shadow: 2px 2px 2px black; margin-bottom: 50px;">Market<i class="fas fa-cart-arrow-down"></i></h1>
    
<div class="row">
  <div class="col-md-3">
     <h3>Crops</h3>
    <div class="list-group">
      <li class="list-group-item active">Vegetables</li>
      <li class="list-group-item">Fruits</li>
      <li class="list-group-item">Nuts</li>
      <li class="list-group-item">Spices</li>
      <li class="list-group-item">Medicinal Plants</li>
    </div>
  </div>
  <div class="col-md-9">
<div id="m-contr" class="container">
  <h3>Vegetables</h3>
  <hr>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://gardenseedsmarket.com/images/detailed/35/pomidor-promyk.jpg" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Tomato</h5>
        <p>The product price in nowadays is: <strong>$1.00/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://cottagelife.com/wp-content/uploads/2018/12/shutterstock_1101418244-1200x800.jpg" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Potato</h5>
        <p>The product price in nowadays is: <strong>$1.50/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://cdn.theatlantic.com/assets/media/img/mt/2015/05/shutterstock_247399801/facebook.jpg?1522840756" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Onion</h5>
        <p>The product price in nowadays is: <strong>$4.00/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://static.toiimg.com/photo/68356209.cms" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Green Chilli</h5>
        <p>The product price in nowadays is: <strong>$2.00/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://www.thestatesman.com/wp-content/uploads/2019/11/ginger.jpg" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Ginger</h5>
        <p>The product price in nowadays is: <strong>$4.00/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://i.ndtvimg.com/i/2015-07/garlic-625_625x350_71437817264.jpg" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Garlic</h5>
        <p>The product price in nowadays is: <strong>$4.00/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://cdn.shopify.com/s/files/1/0722/2059/products/vegetable-seeds-brinjal-2_d0933347-9556-44d9-acf8-4887cc1d0cc6_grande.jpg?v=1579881843" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Brinjal</h5>
        <p>The product price in nowadays is: <strong>$1.00/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://snaped.fns.usda.gov/sites/default/files/styles/crop_ratio_7_5/public/seasonal-produce/2018-05/pumpkin.jpg?itok=IXGgRg1X" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Pumpkin</h5>
        <p>The product price in nowadays is: <strong>$2.50/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <h3>Fruits</h3>
  <hr>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://www.macdentalcare.com/pub/photo/2014-09-apple.jpg" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Apple</h5>
        <p>The product price in nowadays is: <strong>$3.00/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://i.ndtvimg.com/i/2016-04/banana-625_625x350_41459935133.jpg" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Banana</h5>
        <p>The product price in nowadays is: <strong>$1.60/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://vespertunes.files.wordpress.com/2015/11/file-14.jpeg" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Lichi</h5>
        <p>The product price in nowadays is: <strong>$2.00/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://wildtussah.com/wp-content/uploads/2015/05/watermelon.jpg" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Watermelon</h5>
        <p>The product price in nowadays is: <strong>$4.00/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://tse3.mm.bing.net/th?id=OIP.CaCuKMCbUR4PSJutHBfvcQHaE8&pid=Api&P=0&w=246&h=165" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Pomogranate</h5>
        <p>The product price in nowadays is: <strong>$5.00/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <h3>Nuts</h3>
  <hr>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://servingjoy.com/wp-content/uploads/2014/12/Almonds-in-brown-wooden-basket.jpg" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Almonds</h5>
        <p>The product price in nowadays is: <strong>$9.00/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://static.parade.com/wp-content/uploads/2013/07/cashews-ftr.jpg" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Cashchew</h5>
        <p>The product price in nowadays is: <strong>$12.00/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="http://3.bp.blogspot.com/-u_1r7xrLmO0/UQFrDTVHOLI/AAAAAAAAAoI/Mu_k4V2nq4Y/s1600/kismis.jpg" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Kismis</h5>
        <p>The product price in nowadays is: <strong>$5.00/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://images-na.ssl-images-amazon.com/images/I/41DhbJLzmXL.jpg" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Walnut</h5>
        <p>The product price in nowadays is: <strong>$8.00/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <h3>Spices</h3>
  <hr>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://tse2.mm.bing.net/th?id=OIP.4-rW8dtaKQv3m02efkKP6QHaFO&pid=Api&P=0&w=278&h=197" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Turmeric</h5>
        <p>The product price in nowadays is: <strong>$2.00/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://completewellbeing.com/wp-content/uploads/2008/05/small-cumin-big-benefits-1.jpg" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Jeera</h5>
        <p>The product price in nowadays is: <strong>$1.00/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://www.vegetariantimes.com/.image/t_share/MTQ3MDE4NTEzNDkwMzg4MDYz/edible-gardening-101-harvesting-coriander-seeds-2---corriander-seeds-leaves-powder.jpg" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Corinder Powder</h5>
        <p>The product price in nowadays is: <strong>$1.50/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://primalherb.com/wp-content/uploads/2018/01/How-Black-Pepper-Helps-Boost-Nutrient-Absorption.jpg" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Black Pepper</h5>
        <p>The product price in nowadays is: <strong>$2.00/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
  <div class="products">
    <div class="row">
      <div class="col-md-3">
        <img src="https://tse4.mm.bing.net/th?id=OIP.m_KCCoNEF1zrVcm-A7EaHgHaFj&pid=Api&P=0&w=217&h=163" alt="img1">
      </div>
      <div class="col-md-6">
        <h5>Tea Leaves</h5>
        <p>The product price in nowadays is: <strong>$2.00/kg</strong></p>
        <a href="" class="btn btn-success btn-sm">Add To Basket</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
<%- include("partials/footer") %>
